## Test

In [96]:
import pandas as pd

In [97]:
data = pd.read_csv("TestDataFRC2018.csv", header=2, sep=" *,", engine="python")

In [98]:
# Remove blank rows
print(f"Number of rows before cleaning: {data.shape[0]}")
data.dropna(axis=0,inplace=True)
f"Number of rows after cleaning: {data.shape[0]}"

Number of rows before cleaning: 70

'Number of rows after cleaning: 68'

In [99]:
data['Match Number'] = data['Match Number'].astype(int)
data['Team Number'] = data['Team Number'].astype(int)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68 entries, 0 to 69
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date Time             68 non-null     object
 1   Time Stamp            68 non-null     int64
 2   Match Number          68 non-null     int32
 3   Team Number           68 non-null     int32
 4   Alliance Colour       68 non-null     object
 5   Line                  68 non-null     int64
 6   Switch                68 non-null     int64
 7   Scale                 68 non-null     int64
 8   Exchange              68 non-null     int64
 9   Home Switch           68 non-null     int64
 10  Opponent Switch       68 non-null     int64
 11  Scale.1               68 non-null     int64
 12  Exchange.1            68 non-null     int64
 13  Climb Attempted       68 non-null     int64
 14  Climb Succeeded       68 non-null     int64
 15  Park                  68 non-null     int64
 16  Support Other Robots  68 non-null     int64
 17  Fouls                 68 non-null     int64
 18  Tech fouls            68 non-null     int64
 19  Navigation            68 non-null     int64
 20  OA Quality            68 non-null     int64
dtypes: int32(2), int64(17), object(2)
memory usage: 11.2+ KB

In [104]:
renameDict = {
    "Switch" : "Auto Switch",
    "Scale" : "Auto Scale",
    "Exchange" : "Auto Exchange",
    "Scale.1" : "Teleop Scale",
    "Exchange.1" : "Teleop Exchange",
}
data.rename(columns=renameDict, inplace=True)

In [106]:
columnsToDrop = [
    "Date Time",
    "Time Stamp",
    "Alliance Color"
]
data.drop(columns=columnsToDrop)

,Match Number,Team Number,Alliance Colour,Line,Auto Switch,Auto Scale,Auto Exchange,Home Switch,Opponent Switch,Teleop Scale,Teleop Exchange,Climb Attempted,Climb Succeeded,Park,Support Other Robots,Fouls,Tech fouls,Navigation,OA Quality
0,1,1241,blue,1,0,2,0,0,0,3,0,1,1,0,0,0,0,1,1
1,1,7623,blue,1,2,0,0,0,0,0,2,0,0,0,0,0,0,2,1
2,1,3161,blue,1,2,0,0,0,0,3,0,0,0,0,0,0,0,2,1
3,1,7623,blue,1,2,0,0,0,0,0,0,0,0,0,0,0,0,1,1
4,2,2604,blue,1,0,0,0,1,2,0,6,0,0,0,0,0,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,13,6342,blue,1,0,0,0,1,0,0,4,0,0,0,0,0,0,1,2
65,13,3739,red,1,0,0,0,4,0,0,0,1,0,0,0,0,0,1,1
66,14,2609,blue,1,2,0,0,3,0,0,4,0,0,0,0,0,0,2,1
67,14,2852,blue,1,0,0,0,1,0,2,0,0,0,0,0,0,0,1,2
69,14,7509,blue,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1

In [ ]:
data.groupby('Team Number').mean()